{{bread-crumbs categories=categories category=category noSubcategories=noSubcategories}}

{{navigation-bar navItems=navItems filterMode=filterMode category=category}}

<div class="topic-list-actions">

  {{#if showCategoryEdit}}
    {{d-button
      class="btn-default edit-category"
      action=editCategory
      icon="wrench"
      label="category.edit"}}
  {{/if}}

  {{#if showCategoryAdmin}}
    {{categories-admin-dropdown
      onChange=(action "selectCategoryAdminDropdownAction")
      options=(hash
        triggerOnChangeOnTab=false
      )
    }}
  {{/if}}

  {{#if showCategoryNotifications}}
    {{category-notifications-button
      value=category.notification_level
      category=category
      onChange=(action "changeCategoryNotificationLevel")
    }}
  {{/if}}

  {{plugin-outlet name="before-create-topic-button" tagName=""
    args=(hash
      canCreateTopic=canCreateTopic
      createTopicDisabled=createTopicDisabled
      createTopicLabel=createTopicLabel)
  }}

  {{create-topic-button
    canCreateTopic=canCreateTopic
    action=(action "clickCreateTopicButton")
    disabled=createTopicButtonDisabled
    label=createTopicLabel
    btnClass=createTopicClass
  }}

</div>